<a href="https://colab.research.google.com/github/joelma78/GitPY/blob/main/aula2VD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
#Leitura de arquivo
import pandas as pd
import numpy as np

df_vendas_itens=pd.read_excel('/content/drive/MyDrive/Online Retail.xlsx')
show = df_vendas_itens.head()

In [15]:
display(df_vendas_itens.dtypes)

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
Country                object
dtype: object

In [28]:
# Conversão de tipo
df_vendas_itens.CustomerID = df_vendas_itens.CustomerID.astype(float)

display(df_vendas_itens.dtypes)

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [31]:
# Um pouquinho de engenharia de atributos
# Apagando os NaNs
df_vendas_itens.dropna(inplace=True)

In [55]:
# Criação da data para agrupamento :)
df_vendas_itens['mes_compra'] = df_vendas_itens.InvoiceDate.dt.strftime('%Y-%m')
display(df_vendas_itens.dtypes)
#Convertendo a coluna para dataTime
df_vendas_itens['mes_compra'] = pd.to_datetime(df_vendas_itens['mes_compra'])
display(df_vendas_itens.dtypes)

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
total                 float64
mes_compra             object
dtype: object

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
total                 float64
mes_compra     datetime64[ns]
dtype: object

In [54]:
# Calculando o total da venda
df_vendas_itens['total'] = df_vendas_itens['Quantity'] * df_vendas_itens['UnitPrice']
display(show)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [53]:
# Conte as linhas onde 'total' é menor que zero - negativos
contagem_negativos = (df_vendas_itens['total'] < 0).sum()
print(f"Número de linhas com 'total' negativo: {contagem_negativos}")

Número de linhas com 'total' negativo: 0

In [48]:
# Removendo totais negativos
df_vendas_itens = df_vendas_itens[df_vendas_itens['total'] > 0]

In [52]:
contagem_negativos = (df_vendas_itens['total'] < 0).sum()
print(f"Número de linhas com 'total' negativo: {contagem_negativos}")

#Exibindo depois de retiradas

Número de linhas com 'total' negativo: 0

In [56]:
# Reorganizando as colunas
df_vendas_itens.columns = ['venda_id', 'produto_id', 'descricao', 'quantidade', 'data_venda',
                           'preco', 'cliente_id', 'cliente_pais', 'mes_venda', 'total']

df_vendas_itens = df_vendas_itens[['venda_id', 'mes_venda', 'data_venda', 'cliente_id',
                                   'cliente_pais', 'produto_id', 'descricao', 'quantidade',
                                   'preco', 'total']]

print(df_vendas_itens.dtypes)
df_vendas_itens.shape

venda_id                object
mes_venda              float64
data_venda      datetime64[ns]
cliente_id             float64
cliente_pais            object
produto_id              object
descricao               object
quantidade               int64
preco                  float64
total           datetime64[ns]
dtype: object

(530104, 10)